#upload-main {
    max-width: 1000px;
}

table, th, td {
    border: 2px solid black;
}

#upload-main table,
#upload-main th,
#upload-main tr,
#upload-main td {
    padding: 10px;
}

.categories-list {
    margin: 40px;
}

.categories-list li {
    padding: 5px;
}

.search-container {
    margin-bottom: 50px;

}

.search {
    max-width: 500px;
    /* margin: auto; */
    float: left;
}
